<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo List</title>
</head>
<body>
    <h1>All tasks</h1>
    <dl>
        {% for task in tasks %}
        <dt>{{task.title}}</dt>
        <dd>{{task.description}}</dd>
        {% empty %}
        <h3>No tasks left</h3>
        {% endfor %}
    </dl>
    <table>
        <tr>
            <th>Item</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
        </tr>
        {% empty %}
        <h3>No tasks left</h3>
        {% endfor %}
    </table>
</body>
</html>